
.definition_page {
  padding: 0 30px 20px;
}

.title {
  font-size: 75px;
  font-family: "Open Sans", sans-serif;
  margin: 50px 0 10px;
}

.category {
  margin: 15px 0 10px;
  color: #898989;
}

.definition_group {
  margin: 18px 0 0 20px;
  font-size: 16px;
}

.definition_text {
  padding-left: 28px;
}

.example {
  font-style: italic;
  color: #a9a9a9;
}
